html,
body {
    align-items: center;
    margin: 0;
    padding: 0;
    height: 200vh;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(157, 203, 244));
    font-style: italic;
    color: rgb(19, 2, 67);
}

form {
    border-radius: 5px;
    width: 300px;
    background-color: rgba(208, 227, 243, 0.5);
    padding: 20px;
    margin: 30px;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    margin-left: 475px;
}


table,
td,
th {
    border: 1px solid;
    padding: 20px;
    margin: 30px;
}

img {
    width: 75px;
    height: 50px;
}

table {
    width: 600px;
    border-collapse: collapse;
    margin-left: 350px;
    background-color: rgba(208, 227, 243, 0.5);

}

div {
    text-align: center;
}

input,
select {
    font-style: italic;
    color: rgb(19, 2, 67);
    border: 2px solid rgb(11, 1, 75);
    background-color: aliceblue;
    text-align: center;

}

button {
    background-color: rgba(18, 2, 67, 0.3);
    color: rgb(5, 0, 19);
    font-style: italic;
    border: 1px solid white;


}